/* Mobile Phone Devise */
@media only screen and (max-width: 688px) {
	.select-sec {
		display: none;
	}
	#author-pic {
		width: 60px !important;
		text-align: start !important;
	}
	.author-info {
		padding-left: 0 !important;
	}
}

#author-pic {
	width: 100%;
}
